*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    background-color: white;
    height: 50px;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 2px 2px 5px;
}

ul{
    display: flex;
    gap: 35px;
}

.nav-link{
    text-decoration: none;
}
