.weather-clear {
    background: linear-gradient(to top, #fceabb, #f8b500); /* ensoleillé */
    color: #000;
  }
  
.weather-clouds {
    background: linear-gradient(to top, #d7d2cc, #304352); /* nuageux */
    color: #fff;
  }
  
.weather-rain {
    background: linear-gradient(to top, #4b79a1, #283e51); /* pluie */
    color: #fff;
  }
  
.weather-thunderstorm {
    background: linear-gradient(to top, #373B44, #4286f4); /* orage */
    color: #fff;
  }
  
.weather-snow {
    background: linear-gradient(to top, #E0EAFC, #CFDEF3); /* neige */
    color: #000;
  }
  
/* .weather-default {
    background: linear-gradient(to top, #ece9e6, #ffffff);
    color: #000;
  } */
  
body, .weather-clear, .weather-clouds, .weather-rain, .weather-thunderstorm, .weather-snow, .weather-default {
    transition: all 0.5s ease-in-out;
  }
  